[submodule "assignment-2-collins-munir"]
	path = assignment-2-collins-munir
	url = https://github.com/pomonaCS158-fa2023/assignment-2-collins-munir.git
[submodule "Assignment/Assignment 02/assignment-2-collins-munir"]
	path = Assignment/Assignment 02/assignment-2-collins-munir
	url = https://github.com/pomonaCS158-fa2023/assignment-2-collins-munir.git
[submodule "Assignment/Assignment 03/assignment-3-brisa-kenny-1"]
	path = Assignment/Assignment 03/assignment-3-brisa-kenny-1
	url = https://github.com/pomonaCS158-fa2023/assignment-3-brisa-kenny-1.git
