
Assignments/Assignment 07 (Naïve Bayes or Intelligent Bayes\?)/CollinsAssignment7
Assignments/Assignment 02 (Decision Trees)/assignment-2-collins-munir
Assignments/Assignment 04 (k-NN and Feature Preprocessing)/assignment-4-collins-kariuki
Assignments/Assignment 05 (Multiclass Standoff_AVA vs. OVA)/assignment-5-munir-collins
